<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tx_animation_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1090},{194,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,78},{194,188}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,698},{209,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,69},{209,202}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,480},{223,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,61},{223,217}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,0},{237,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,52},{237,230}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{247,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,45},{247,241}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,321},{250,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,38},{250,251}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,641},{263,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,31},{263,258}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,957},{281,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,25},{281,273}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1272},{294,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,21},{294,282}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1580},{305,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,16},{305,291}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1580},{314,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,11},{314,287}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1272},{321,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,7},{321,307}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,641},{330,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{330,315}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,321},{335,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{335,319}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{340,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{340,320}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,957},{328,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{328,314}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,242},{246,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,50},{246,237}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

			<key>tx_animation_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,901},{197,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{65,80},{197,188}}</string>
				<key>sourceSize</key>
				<string>{340,321}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>tx_animations.png</string>
			</dict>
		</dict>
</plist>