<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>newcardschips/card_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,0},{94,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,520},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,910},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,130},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,260},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,390},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,520},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,650},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,780},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,910},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,96},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,226},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,356},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,486},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,616},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,746},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,876},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,96},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,192},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,322},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,452},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,582},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,712},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,842},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,192},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,96},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,0},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,288},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,418},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,548},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,678},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,808},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,288},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,192},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,96},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,0},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,418},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,548},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,678},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,808},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,288},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,192},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,96},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>newcardschips/card_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,0},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>new_cards_chips.png</string>
			<key>realTextureFileName</key>
			<string>new_cards_chips.png</string>
			<key>size</key>
			<string>{970,1006}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>970</integer>
			<key>height</key>
			<integer>1006</integer>
		</dict>
	</dict>
</plist>