<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>textures/cards/10b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/10c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,133},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/10r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,265},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/10t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/11b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,529},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/11c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,661},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/11r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,793},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/11t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,925},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/12b.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,1},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/12c.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,133},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/12r.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,265},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/12t.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,397},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/13b.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,529},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/13c.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,661},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/13r.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,793},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/13t.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,925},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/1c.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,97},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/1r.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,229},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,361},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/2b.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,493},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/2c.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,625},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/2r.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,757},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,889},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/3b.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,97},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/3c.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/3r.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,193},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,325},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/4b.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,457},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/4c.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,589},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/4r.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,721},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,853},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/5b.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,193},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/5c.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,97},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/5r.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,289},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/6b.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,421},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/6c.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,553},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/6r.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,685},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/6t.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,817},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/7b.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,289},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/7c.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,193},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/7r.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,97},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/7t.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,1},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/8b.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,421},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/8c.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,553},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/8r.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,685},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/8t.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,817},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/9b.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,289},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/9c.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,193},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/9r.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,97},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/9t.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1},{94,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
			<key>textures/cards/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1},{94,129}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{983,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>983</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>