<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
                <key>anim0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{169,167}}</string>
				<key>offset</key>
				<string>{-46,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim1.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,0},{170,166}}</string>
				<key>offset</key>
				<string>{-45,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{169,93}}</string>
				<key>offset</key>
				<string>{-50,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim11.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,166},{173,110}}</string>
				<key>offset</key>
				<string>{-50,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,136},{164,141}}</string>
				<key>offset</key>
				<string>{-50,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim13.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,166},{173,110}}</string>
				<key>offset</key>
				<string>{-50,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,147},{169,93}}</string>
				<key>offset</key>
				<string>{-50,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,240},{171,86}}</string>
				<key>offset</key>
				<string>{-50,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,486},{171,93}}</string>
				<key>offset</key>
				<string>{-50,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,240},{171,86}}</string>
				<key>offset</key>
				<string>{-50,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,147},{169,93}}</string>
				<key>offset</key>
				<string>{-50,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim19.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,299},{173,110}}</string>
				<key>offset</key>
				<string>{-50,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim2.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,0},{170,158}}</string>
				<key>offset</key>
				<string>{-45,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,174},{164,141}}</string>
				<key>offset</key>
				<string>{-50,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{173,110}}</string>
				<key>offset</key>
				<string>{-50,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,147},{169,93}}</string>
				<key>offset</key>
				<string>{-50,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,277},{171,86}}</string>
				<key>offset</key>
				<string>{-50,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim24.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,386},{171,93}}</string>
				<key>offset</key>
				<string>{-50,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1864,315},{171,86}}</string>
				<key>offset</key>
				<string>{-50,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,240},{169,93}}</string>
				<key>offset</key>
				<string>{-50,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim27.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,167},{173,110}}</string>
				<key>offset</key>
				<string>{-50,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,147},{164,141}}</string>
				<key>offset</key>
				<string>{-50,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,277},{173,110}}</string>
				<key>offset</key>
				<string>{-50,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,0},{174,147}}</string>
				<key>offset</key>
				<string>{-43,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,288},{169,93}}</string>
				<key>offset</key>
				<string>{-50,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,326},{171,86}}</string>
				<key>offset</key>
				<string>{-50,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim32.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,479},{171,93}}</string>
				<key>offset</key>
				<string>{-50,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,326},{171,86}}</string>
				<key>offset</key>
				<string>{-50,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim34.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,384},{169,93}}</string>
				<key>offset</key>
				<string>{-50,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim35.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,276},{173,110}}</string>
				<key>offset</key>
				<string>{-50,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim36.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,158},{164,141}}</string>
				<key>offset</key>
				<string>{-50,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim37.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,340},{173,110}}</string>
				<key>offset</key>
				<string>{-50,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim38.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,409},{169,93}}</string>
				<key>offset</key>
				<string>{-50,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,363},{171,86}}</string>
				<key>offset</key>
				<string>{-50,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,0},{174,147}}</string>
				<key>offset</key>
				<string>{-43,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim40.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,513},{171,93}}</string>
				<key>offset</key>
				<string>{-50,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim41.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,339},{172,99}}</string>
				<key>offset</key>
				<string>{-49,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim42.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,158},{174,113}}</string>
				<key>offset</key>
				<string>{-43,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,0},{174,136}}</string>
				<key>offset</key>
				<string>{-43,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,0},{174,147}}</string>
				<key>offset</key>
				<string>{-43,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,0},{174,147}}</string>
				<key>offset</key>
				<string>{-43,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim46.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,0},{170,158}}</string>
				<key>offset</key>
				<string>{-45,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim47.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,0},{170,166}}</string>
				<key>offset</key>
				<string>{-45,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim48.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,0},{169,167}}</string>
				<key>offset</key>
				<string>{-46,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,0},{174,136}}</string>
				<key>offset</key>
				<string>{-43,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim6.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,271},{174,113}}</string>
				<key>offset</key>
				<string>{-43,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,387},{172,99}}</string>
				<key>offset</key>
				<string>{-49,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,579},{171,93}}</string>
				<key>offset</key>
				<string>{-50,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
			<key>anim9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1864,401},{171,86}}</string>
				<key>offset</key>
				<string>{-50,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,179}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>actionsocdia.png</string>
			<key>realTextureFileName</key>
			<string>actionsocdia.png</string>
			<key>size</key>
			<string>{2042,765}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2042</integer>
			<key>height</key>
			<integer>765</integer>
		</dict>
	</dict>
</plist>